
.form-container{
 display: flex;
 justify-content: center;
 flex-direction: row;
 form{
  width: 500px;
  margin-top:20px;
  padding:20px;
  background-color: #ccc;
  border-radius: 10px;
  .form-group{
    margin-top:20px;
  }
}
}



