<h2 class="text-center"> FreeCodeCamp Angular Full Tutorial</h2>

<!-- <div class="container">
    <ng-template #user></ng-template>
</div> -->

<!-- <app-rooms class="m-2"></app-rooms>
<div class="text-center" #name></div> -->
<app-container>
    <app-header></app-header>
    <app-employee></app-employee>
    <app-rooms></app-rooms>
</app-container>

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">
      Welcome user!
    </div>
    <div *ngSwitchCase="'admin'">

    </div>
    <div *ngSwitchDefault>
      <h6>You are not authorized to view this page! go back to your mother</h6>
    </div>
</div> -->
